@media print {
  .import,
  .wrapper,
  .settings,
  .splash {
    display: none !important;
  }
  .print {
    display: block !important;
    fill: none;
    stroke: black;
  }
  text.print {
    display: block !important;
    fill: black !important;
    stroke: black;
  }
}
